*{
  margin: 0;
  padding: 0;
  box-sizing:  border-box;
  font-family: helvetica neue;
  /* color: white; */

}

html, body {
  height: 100%;
  width: 100%;

}

.parent {
  min-height: 100vh;
  width: 100%;
  background-color: black;
  padding: 30px ;
  display: flex;
  gap: 20px ;
  flex-wrap: wrap;

}

.card {
  height: 330px ;
  width: 280px ;
  background-color: white ;
  border-radius: 30px ;
  padding: 30px ;

  display: flex ;
  flex-direction: column;
  justify-content: space-between;
}


.card .top {
  display: flex ;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px ;


}

.top img {
  height: 40px ;
  width: 40px ;
  border-radius: 50%;
  border: 2px solid #dadada;
  padding: 2px ;

}

.top button {
  display: flex ;
  align-items: center;
  border: 2px solid solid #dadada;
  padding: 3px 6px ;
  font-size: 14px ;
  border-radius: 5px ;
  gap: 5px ;
  color: #b1b1b1;
  background-color: transparent;

}


.center h3 {
  font-size: 20px ;
  /* font-weight: 500; */
}

.center h3 span {
  font-size: 9px ;
  font-weight: 400;
  color: #8b8b8b;
}

.center h2 {
  font-size: 20px ;
}

.center .tag {
  display: flex ;
  align-items: center;
  gap: 10px ;
  margin-top: 12px;
  
}

.center .tag h4 {
  font-size: 12px ;
  background-color: #dadada;
  color: black;
  padding: 4px 8px ;
  font-weight: 500;
  border-radius: 5px ;

}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #b1b1b1;
  padding: 10px 0;
  
}

.bottom button {
  background-color: black;
  color: white ;
  padding: 5px 10px;
  border-radius: 5px ;
  border: none ;
  column-width: 600px ;
}

.bottom h3 {
  font-size: 18px ;

}

.bottom p {
  font-size: 12px ;
  color: #8b8b8b;
}
