*{
  margin: 0;
  padding: 0;
  box-sizing:  border-box;
  font-family: helvetica neue;
  color: white;

}

html, body {
  height: 100%;
  width: 100%;

}

body {
  background-color: #111;
}

.parent {
  padding : 20px ; 
  display: flex;
  flex-wrap: wrap ;
}


.card {
  width: 300px ;
  border: 2px solid white;
  margin: 10px ;
  padding: 20px ;
  text-align: center;
  border-radius: 10px ;
  background-color: #333;
  gap: 20px ;
}

.card img {
  height: 140px ;
  width: 140px ;
  object-fit: cover ;
  border-radius: 50%;

}

.card p {
  margin: 20px 0;
}

.card button {
  background-color: whiite;
  color : black ;
  padding: 10px 20px ;
  border-radius: 5px ;
  border: none ;
  margin: 20px 0 ;
}